body{

  font: 20px Arial, sans-serif;  
}
.navbar {
  background-color:forestgreen;
}
.link-white{
  color: white;
}
.link-white:hover{
  text-decoration-line: underline;
  text-decoration-style: solid;
  -moz-text-decoration-color: white;
}
.quem-somos {
  color: white;
  background-color: dodgerblue;
}
.margin {
  padding-top: 10px;
  padding-bottom: 50px;
}
.parceiros{
  color: white;
  background-color: purple;
}
.img-parceiros-grandes {
  margin-bottom: 30px;
  width: 50%;
}
.img-parceiros-pequenos {
  margin-bottom: 30px;
  width: 100%;
}
.img-servicos {
  width: 85%;
}